@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
::selection{
  background: #eee2
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  /*Выключение возможности выделения текста
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
.body{
  min-height: 100vh;
}
.block_content{
  width: 100%;
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.background{
  background: -webkit-linear-gradient(
    left,
    #0d1116,
    #171b20
  );
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #111010;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b1a;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b1a;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b1a;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
}
.sidebar .bx-search:hover img {
  transition: all 0.5s ease;
  filter: invert(100%);
}
.sidebar.open .bx-search:hover img {
  filter: none;
}
.sidebar .bx-search i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar .bx-search img {
  height: 30px;
  width: 30px;
  border-radius: 6px;
  margin-top: 10px;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #111010;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name{
  transition: all 0.5s ease;
  color: #111011;
}
.sidebar li a:hover i {
  transition: all 0.5s ease;
  filter: invert(100%);
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li img {
  height: 30px;
  width: 30px;
  border-radius: 6px;
  margin-top: 10px;
}
ul li{
  list-style: none;
}
.list{
  position: absolute;
  width: auto;
  left: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  background: transparent;
  list-style: none;
}
.legend{
  width: 180px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  background: rgb(43, 43, 43);
  margin: 20px;
  padding: 1em;
  border: solid 1px #555;
  border-radius: 10px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000;
    z-index: 1;
  }
  &::before, &::after{
    content: "";
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    width: 105%;
    transition: all 0.4s;
  }
  &::before {
    left: 0%;
    height: 130%;
    background: linear-gradient(to right, #f1c40f, #ffe41f);
  }
  &::after {
    left: -7%;
    height: 120%;
    background: #ffffff56;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  }
  &:hover{
    color: #f1c40f;

    &::before {
    transform: translateX(-5%);
    }

    &::after {
    transform: translateX(6%);
    }
  }
  &::marker{
  }
}
.details {
  margin-left: 30px;
}
.details li {
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  border: solid 1px #555;
  background: rgb(43, 43, 43);
  position: relative;
  border-radius: 8px;
  counter-increment: index;
  &:hover .href{
    transform: translateX(3%);
  }
  &::before{
    width: 20px;
    display: flex;
    justify-content: center;
    color: #5553;
    content: counters(index, ".", decimal);
    font-size: 30px;
    font-weight: 800;
    transition: 0.5s;
  }
  &:hover::before{
    color: #555;
  }
}
.href{
  text-decoration: none;
  position: absolute;
  padding-left: 25px;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}
