@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #eee;
  transition: background-color 5000s ease-in-out 0s;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.home{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-top: 10px;
  border-radius: 15px;
  border: none;
}
.preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #eee;
  font-size: 25px;
  font-weight: 500;
}
.preview p{
  padding: 20px;
  margin-bottom: 10px;
}
.wrapper {
  overflow: hidden;
  max-width: 390px;
  border-radius: 30px;
  backgroun: transparent;
  border: solid 1px #555;
  width: 450px;
  position: relative;
  padding: 30px;
}
.form-container .form-inner {
  display: flex;
  width: 100%;
}
.form-container .form-inner form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.form-inner form .field {
  position: relative;
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
}
.form-inner form .pass-link{
  margin-bottom: 20px;
  margin-top: 10px;
}
.form-inner form .field input {
  height: 75%;
  width: 100%;
  color: #eee;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid #555;
  font-size: 17px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-inner form .field label {
  font-size: 11px;
  position: relative;
  right: -15px;
  pointer-events: none;
  color: #ff7b00;
}
.form-inner form .field input:focus {
  color: #f06900;
  border: 2px solid #ff7b00;
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #ff7b00;
}
.form-inner form .pass-link {
}
.form-inner form .pass-link a {
  color: #1a75ff;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.form-inner form .pass-link p {
  display: none;
  font-weight: 600;
  position: relative;
  margin-left: 5px;
}
.form-inner form .pass-link a:hover{
  color: #0150ff;
}
.form-inner form .pass-link a:hover p{
  color: #0150ff;
  display: block;

}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
form .btn button {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: solid 1px #555;
  color: #aaa;
  transition: all 0.9s easy;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
form .btn button:hover{
  border: none;
  background: #ff7b00;
  color: #fff;
}
.header {
	position: fixed;
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	z-index: 99;
	background: transparent;
}
.nav{
  list-style: none;
  position: relative;
  height: 50px;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav li{
  position: relative;
}
.nav .text{
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}

.text .href{
  color: #fff;
  position: relative;
  text-decoration: none;
  font-weight: 500;
}
.nav .text .href::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transform-origin: right;
  transform: scaleZ(0);
}
.nav .text .href:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.nav .search-wrapper {
  position: relative;
  color: #fff;
  font-size: 1.1em;
  outline: none;

}
.header .nav .search-wrapper :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.search-input {
  width: 0;
  transition: width 0.5s;
  font-size: 1.1em;
}
.search :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}
.search-button {
  place-items: center;
  cursor: pointer;
  transition: color 0.25s;
}
.search-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transform-origin: right;
  transform: scaleZ(0);
}
.search-button:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.search-button .ri-search-2-line{
  position: relative;
  top: 4px;
  right: 1px;
}
.header .search-wrapper:focus-within input {
  width: 200px;
}
::placeholder {
  font: inherit;
  color: #e3e3e3;
}
.background{
	width: 100%;
	height: 100vh;
	background: -webkit-linear-gradient(
    left,
    #0d1116,
    #171b20
  );
	background-position: center;
	background-size: cover;
	pointer-events: none;
}
.bubble-static {
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background-color: #171b20;
  position: absolute;
}

.bubble-9 {
  top: -875px;
  left: -10%;
}
.errorlist {
  padding:0;
  margin:0;
}
.errorlist li{
  color:red;
  list-style:none;
}
.alert{
  padding:0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  text-decoration: none;
  background-color: #171b20;
  color: #fff;
}
::placeholder{
	color: #fff;
	font-size: 18px;
}