@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #f1c40f;
  transition: background-color 5000s ease-in-out 0s;
}
::selection{
  background: #eee2
}
input:-webkit-autofill::first-line {
      font-size: 17px;
    }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.home{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 15px;
  border: none;
}
.preview{
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #eee;
  font-size: 25px;
  font-weight: 500;
}
.preview h1{
  color: #000;
  font-size: 30px;
  padding: 20px;
  background: -webkit-linear-gradient(
    45deg, #eee 0%, #ff7b00 100%
  );
  background-clip: text;
  -webkit-text-stroke: 2px transparent;
}
.wrapper {
  overflow: hidden;
  max-width: 390px;
  border-radius: 30px;
  backgroun: transparent;
  border: solid 1px #555;
  width: 450px;
  position: relative;
  padding: 30px;
}
.form-inner {
  display: flex;
  width: 100%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
form p{
  color: #eee;
}
form .field {
  position: relative;
  height: 50px;
  width: 100%;
}
form .field :where(input, select) {
  height: 75%;
  width: 100%;
  color: #eee;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: 1px solid #555;
  font-size: 17px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .field p{
  color: #fff;
  width: 20px;
  border-radius: 5px;
  border: solid 1px #aaa;
  font-weight: 800;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: -25px;
  top: 30px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form .field label {
  font-size: 11px;
  position: relative;
  right: -15px;
  pointer-events: none;
  color: #ff7b00;
}
form .field :where(input, select):focus {
  color: #f06900;
  border: 2px solid #ff7b00;
}
select {
  appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;
}
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: min(20rem, 90vw);
  background: var(--background-select);
  border-radius: 0.25rem;
  overflow: hidden;
  // Select style
  select {
    flex: 1;
    padding: 1em;
    cursor: pointer;
  }
  // Arrow style
  &::after {
    content: "\25BC";
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: 0.25s all ease;
    pointer-events: none; // IMPORTANT to click on arrow
  }
  // Arrow hover
  &:hover::after {
    color: #f39c12;
    animation: bounce 0.5s infinite;
  }
}
@keyframes bounce {
  25% {
    transform: translatey(5px);
  }
  75% {
    transform: translatey(-5px);
  }
}
option{
  height: 1px;
  width: 50px;
  color: #fff;
  border-radius: 5px;
  background: red;
}
option:hover{
  color: red;
}
form .pass-link{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
form .pass-link a {
  font-size: 15px;
  color: #1a75ff;
  text-decoration: none;
}
form .pass-link a:hover{
  color: #0150ff;
}
form .pass-link i {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  display: none;
  align-self: center;
  color: #0150ff;
  animation: icon 1.5s infinite forwards;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}
form .pass-link:hover i{
  display: block;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.button {
  height: 100%;
  width: 100%;
  z-index: 1;
  border: solid 1px #555;
  border-radius: 15px;
  cursor: pointer;
  --tilt: 40px;
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #ff7b00;
  background: none;
  text-transform: uppercase;
  & span {
    font-size: 25px;
    font-weight: 900;
    mix-blend-mode: difference;
  }
  &:before,
  &:after {
    content: "";
    z-index: -1;
    width: calc(100% + var(--tilt));
    height: 100%;

    position: absolute;
    top: 0;
    background: #ff7b00;
    clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
    transition: transform 0.9s;
  }
  &:before {
    left: calc(-100% - var(--tilt));
  }
  &:after {
    left: 100%;
    transform: rotate(180deg);
  }
  &:hover:before {
    transform: translateX(100%);
  }
  &:hover:after {
    transform: rotate(180deg) translateX(100%);
  }
}
.header {
	position: fixed;
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	z-index: 99;
	background: transparent;
}
.nav{
  list-style: none;
  position: relative;
  height: 50px;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav li{
  position: relative;
}
.nav .text{
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}

.text .href{
  color: #fff;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  &:hover{
    color: #ff7b00;
  }
}
.nav .text .href::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #ff7b00;
  border-radius: 3px;
  transform-origin: right;
  transform: scaleZ(0);
}
.nav .text .href:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.nav .search-wrapper {
  position: relative;
  color: #fff;
  font-size: 1.1em;
  outline: none;

}
.header .nav .search-wrapper :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.search-input {
  width: 0;
  transition: width 0.5s;
  font-size: 1.1em;
}
.search :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}
.search-button {
  place-items: center;
  cursor: pointer;
  transition: color 0.25s;
}
.search-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transform-origin: right;
  transform: scaleZ(0);
}
.search-button:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.search-button .ri-search-2-line{
  position: relative;
  top: 4px;
  right: 1px;
}
.header .search-wrapper:focus-within input {
  width: 200px;
}
.background{
	background: -webkit-linear-gradient(
    left,
    #0d1116,
    #171b20
  );
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
.bubble-static {
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background-color: #171b20;
  position: absolute;
}

.bubble-9 {
  top: -875px;
  left: -10%;
}
.errorlist {
  padding:0;
  margin:0;
}
.errorlist li{
  color:red;
  list-style:none;
}
.alert{
  padding:0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  text-decoration: none;
  background-color: #171b20;
  color: #fff;
}
::placeholder{
	color: #fff;
	font-size: 18px;
}