@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
::selection{
  background: #eee2
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	&::-webkit-scrollbar{
    width: 15px;
  }
  &::-webkit-scrollbar-track{
    background: #333;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 100px;
    border: solid 2px #333;
    width: 2px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color: #f1c40f;
  }
}
.background{
	width: 100%;
	height: 100vh;
	background-image: url("../imajes/backgroundnight.jpg");
	background-position: center;
	background-size: cover;
	pointer-events: none;
}
.errorlist {
	padding:0;
	margin:0;
}
.errorlist li{
	color: #f00;
	list-style:none;
}

.alert{
	padding:0.5rem;
}

.alert-success{
	background-color: #dfd
}
.alert-error{
	background-color:#ba2121;
	color:#fff;
}
.header {
	position: fixed;
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	z-index: 99;
	background: transparent;
}
.header .nav{
  position: relative;
}
.header .nav .imj{
  position: relative;
	left: 30px;
  top: 6px;
	margin-right: 30px;
}
.header .nav .text{
  position: relative;
	text-decoration: none;
	color: #fff;
	font-size: 1.1em;
	margin-left: 30px;
	font-weight: 500;

}
.nav .text::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 3px;
	transform-origin: right;
	transform: scaleZ(0);
}
.nav .text:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}