@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
::selection{
  background: #eee2
}
input:-webkit-autofill::first-line {
  font-size: 17px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  &::-webkit-scrollbar{
    width: 15px;
  }
  &::-webkit-scrollbar-track{
    background: #333;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #555;
    border-radius: 100px;
    border: solid 2px #333;
    width: 2px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color: #f1c40f;
  }
}
body{
  min-height: 100vh;
}
.home{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.preview{
  margin-top: 100px;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #eee;
  font-size: 25px;
  font-weight: 500;
}
.preview h1{
  color: #000;
  font-size: 30px;
  padding: 20px;
  background: -webkit-linear-gradient(
    45deg, #eee 0%, #f1c40f 100%
  );
  background-clip: text;
  -webkit-text-stroke: 2px transparent;
}
.wrapper {
  max-width: 390px;
  border-radius: 30px;
  backgroun: transparent;
  border: solid 1px #555;
  width: 450px;
  position: relative;
  padding: 30px;
  margin-bottom: 80px;
}
.form-inner {
  display: flex;
  width: 100%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
form p{
  color: #eee;
}
form .field {
  position: relative;
  height: 50px;
  width: 100%;
}
/* ===== Actual Styles ===== */

/* ===== Select Box ===== */
.sel {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-bottom: solid 2px #555;
}
.sel::before {
  position: absolute;
  content: ">";
  font-size: 20px;
  color: #fff;
  right: 0;
  top: 10px;
}

.sel.active::before {
  transform: rotate(90deg);
}

.sel__placeholder {
  height: 75%;
  font-size: 17px;
  color: #fff;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
  padding: 5px 15px 0 15px;
  background: transparent;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  height: 75%;
  width: fit-content;
  content: attr(data-placeholder);
  visibility: hidden;
  background: transparent;
  display: flex;
  text-align: center;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: 110%;
  left: 30%;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 17px;
  border-radius: 15px;
  background: #000;
  border: solid 1px #555;
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 0.5s;
}

.sel__box__options {
  display: list-item;
  font-size: 17px;
  color: #fff;
  padding: 10px 20px 10px 10px;
  user-select: none;
}

.sel__box__options::after {
  position: absolute;
  right: 5px;
  content: "<";
  font-size: 15px;
  margin-left: 5px;
  margin-top: 2px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  color: #f1c40f;
  background-color: #ffffff0a;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
form .field input {
  height: 75%;
  width: 100%;
  color: #eee;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  border: 1px solid #555;
  font-size: 17px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .field p{
  color: #fff;
  width: 20px;
  border-radius: 5px;
  border: solid 1px #aaa;
  font-weight: 800;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: -25px;
  top: 30px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form .field label {
  font-size: 11px;
  position: relative;
  right: -15px;
  pointer-events: none;
  color: #f1c40f;
}
form .field input:focus {
  color: #f1a40f;
  border: 2px solid #f1c40f;
}
form .pass-link{
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
form .pass-link a {
  font-size: 15px;
  color: #0150ff;
  text-decoration: none;
}
form .pass-link a:hover{
  color: #f1c40f;
}
form .pass-link i {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  display: none;
  align-self: center;
  color: #f1c40f;
  animation: icon 1.5s infinite forwards;
}

@keyframes icon {
  0%,100%{
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}
form .pass-link:hover i{
  display: block;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.button {
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 12px;
  border: solid 2px #f1c40f;
  cursor: pointer;
  --tilt: 40px;
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: #f1c40f;
  background: #000;
  text-transform: uppercase;
  & span {
    font-size: 25px;
    font-weight: 900;
    mix-blend-mode: difference;
  }
  &:before,
  &:after {
    content: "";
    z-index: -1;
    width: calc(100% + var(--tilt));
    height: 100%;

    position: absolute;
    top: 0;
    background: #f1c40f;
    clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
    transition: transform 0.9s;
  }
  &:before {
    left: calc(-100% - var(--tilt));
  }
  &:after {
    left: 100%;
    transform: rotate(180deg);
  }
  &:hover:before {
    transform: translateX(100%);
  }
  &:hover:after {
    transform: rotate(180deg) translateX(100%);
  }
}
.header {
	position: fixed;
	width: 100%;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	z-index: 99;
	background: transparent;
}
.nav{
  list-style: none;
  position: relative;
  height: 50px;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav li{
  position: relative;
}
.nav .text{
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}

.text .href{
  color: #fff;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  &:hover{
    color: #f1c40f;
  }
}
.nav .text .href::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #f1c40f;
  border-radius: 3px;
  transform-origin: right;
  transform: scaleZ(0);
}
.nav .text .href:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.nav .search-wrapper {
  position: relative;
  color: #fff;
  font-size: 1.1em;
  outline: none;

}
.header .nav .search-wrapper :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}

.search-input {
  width: 0;
  transition: width 0.5s;
  font-size: 1.1em;
}
.search :is(input, button) {
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
}
.search-button {
  place-items: center;
  cursor: pointer;
  transition: color 0.25s;
}
.search-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transform-origin: right;
  transform: scaleZ(0);
}
.search-button:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
.search-button .ri-search-2-line{
  position: relative;
  top: 4px;
  right: 1px;
}
.header .search-wrapper:focus-within input {
  width: 200px;
}
.background{
	background: -webkit-linear-gradient(
    left,
    #0d1116,
    #171b20
  );
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
.bubble-static {
  width: 1000px;
  height: 1000px;
  border-radius: 100%;
  background-color: #171b20;
  position: absolute;
}

.bubble-9 {
  top: -875px;
  left: -10%;
}
.errorlist {
  padding:0;
  margin:0;
}
.errorlist li{
  color:red;
  list-style:none;
}
.alert{
  padding:0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  text-decoration: none;
  background-color: #171b20;
  color: #fff;
}
::placeholder{
	color: #fff;
	font-size: 18px;
}