@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
::selection{
  background: #eee2
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  background-color: #000;
}
.home{
}
.backgroundimg{
  width: 100%;
  height: 100vh;
  background-image: url("../imajes/phisicsbackground.jpg");
  background-position: center;
  background-size: cover;
  pointer-events: none;
  opacity: 0.1;
}
.input_block{
  position: absolute;
  top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 100px;
  background: transparent;
}
.background{
  margin-top: 10px;
  overflow: hidden;
  width: 1000px;
  height: 50px;
  border-radius: 8px;
}
.input_box{
  width: 70%;
  height: 500px;
  border-radius: 8px;
  padding: 15px;
  position: absolute;
  background: rgba(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}