{%load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styleload.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style_about.css' %}" />
    <script src="{% static 'js/preloader_function.js' %}"></script>
    <script src="{% static 'js/app_about.js' %}" defer></script>
    <link rel="website icon" href="{% static 'imajes/logo.png' %}">
    <title>EazyLearnZone - About</title>
  </head>
  <body>
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <div class="background"></div>
    <section class="home">
      <div class="wrapper">
      	<img src="{% static 'imajes/logo.png' %}" class="block logo"/>
      	<p class="block text">
      		Платформа "EasyLearnZone" - образовательный ресурс, объединяющий в себе возможности для подготовки к олимпиадам по физике, программированию и математике. Мы предлагаем пользователям доступ к списку актуальных олимпиад, методическим материалам и заданиям по указанным направлениям, позволяя им расширить свои знания и навыки в удобном формате.
      		<br><br>___создано олимпиадниками для олимпиадников___
      	</p>
				<p class="block preview">
					Основные возможности и преимущества платформы:
				</p>
				<div class="block list">
					<p class="block list-el">
						<span>1</span>Удобный доступ к образовательным материалам: на платформе представлены курсы, методические пособия, разработанные совместно с опытными преподавателями в области физики, программирования и математики.
					</p>
					<p class="block list-el">
						<span>2</span>Встроенный компилятор Python: для удобства пользователей мы предоставляем инструмент для создания программного кода сразу на платформе и автоматической проверки заданий. Это помогает быстро оценить знания и понимание материала.
					</p>
					<p class="block list-el">
						<span>3</span>Бесплатный доступ: мы стремимся сделать знания доступными для всех, поэтому платформа "EasyLearnZone" предоставляет бесплатный доступ к своим ресурсам. Пользователи могут изучать материалы, проходить тестирование и участвовать в обсуждениях без дополнительных затрат.
					</p>
					<p class="block list-el">
						<span>4</span>Система взаимодействия: наша платформа предлагает удобную систему обратной связи между пользователями и администрацией. Вы можете задавать вопросы, делиться своими мыслями и отзывами, получать техническую поддержку от администрации и экспертов.
					</p>
					<p class="block list-el">
						<span>5</span>Разделы с олимпиадами, заданиями и решениями: на платформе "EasyLearnZone" вы найдете специальные разделы, посвященные олимпиадам, заданиям и решениям. Здесь вы сможете проверить свои силы, расширить знания и обсудить методы решений с другими участниками.
					</p>
					<p class="block list-el">
						<span>6</span>Постоянное обновление и добавление контента: мы регулярно обновляем материалы, добавляем новые курсы, пособия, задания и функциональные возможности, чтобы предоставлять пользователям актуальную и интересную информацию.
					</p>
				</div>
				<p class="block block text">
					Начните свой путь к знаниям и успеху прямо сейчас на платформе "EasyLearnZone"! Учите новое, развивайтесь и достигайте целей вместе с нами. Будьте в курсе последних тенденций в олимпиадном направлении, обменивайтесь опытом и вдохновляйтесь успехами других.
					<br><br>Добро пожаловать в сообщество образования и интелектуального роста!
				</p>
      </div>
    </section>
    <a class="button" href="{% url 'posts' %}"><span>Домой</span></a>
  </body>
</html>