{% extends 'baselist.html' %}
{% load static %}

{% block title_name %}
EasyLearnZone - {% if sub == "i" %} Programming
                {% elif sub == "p" %} Phisic
                {% elif sub == "m" %} Mathematic
                {% endif %} courses
{% endblock %}

{% block sbar %}
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'><img src="{% static 'imajes/logo.png' %}" style="width: 27px; height: 27px; filter: invert(100%);"/></i>
        <div class="logo_name">
          {% if sub == "i" %} Programming
          {% elif sub == "p" %} Phisic
          {% elif sub == "m" %} Mathematic
          {% endif %}
        </div>
        <i class='bx bx-menu' id="btn"><img src="{% static 'imajes/3lines.png' %}" style="width: 27px; height: 27px;"/></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class='bx bx-search' style="width: 27px; padding-left: 1px; padding-top: 2px;"><img src="{% static 'imajes/loupe.png' %}" style="width: 27px; height: 27px;"/></i>
          <input type="text" placeholder="Search...">
          <span class="tooltip">Поиск</span>
        </li>
        <li>
          <a href="{% url 'posts' %}">
            <i class='bx bx-user'><img src="{% static 'imajes/home.png' %}" /></i>
            <span class="links_name">На главную страницу</span>
          </a>
          <span class="tooltip">На главную страницу</span>
        </li>
        <li>
          <a
          {% if sub == "i" %} href="{% url 'it-task' %}"
          {% elif sub == "p" %} href="{% url 'phisics-task' %}"
          {% elif sub == "m" %} href="{% url 'math-task' %}"
          {% endif %}
          >
            <i class='bx bx-user'><img src="{% static 'imajes/taskimg.png' %}" style="filter:invert(180);" /></i>
            <span class="links_name">Банк заданий</span>
          </a>
          <span class="tooltip">Банк заданий</span>
        </li>
        {% if sub == "i" %}
        <li>
          <a href="{% url 'compiler' %}">
            <i class='bx bx-user'><img src="{% static 'imajes/itimg1.png' %}" style="filter:invert(180);" /></i>
            <span class="links_name">Песочница</span>
          </a>
          <span class="tooltip">Песочница</span>
        </li>
        {% endif %}
        <li>
          <a
          {% if sub == "i" %} href="{% url 'it' %}"
          {% elif sub == "p" %} href="{% url 'phisics' %}"
          {% elif sub == "m" %} href="{% url 'math' %}"
          {% endif %}
          >
            <i class='bx bx-user'><img src="{% static 'imajes/components.png' %}" style="filter:invert(180);" /></i>
            <span class="links_name">Список олимпиад</span>
          </a>
          <span class="tooltip">Список олимпиад</span>
        </li>
      </ul>
{% endblock %}
{% block content%}
<section class="home">
  <div class="backgroundimgi"></div>
  <div class="wrapper">
    <h2 style="color: #fff; font-size: 35px;">Пособия по {{ course.index }}</h2>
    {% if request.user.is_authenticated and group %}
      <a href="{% url 'course-create' %}?s={{sub}}">добавить пособие</a>
    {% endif %}
    <ul id="course-list">
    {% include 'blog/course_list_page.html' %}
    </ul>
  </div>
</section>

{% endblock %}
{% block domready %}
  var page = 1;
  var emptyPage = false;
  var blockRequest = false;

  window.addEventListener('scroll', function(e) {
    var margin = document.body.clientHeight - window.innerHeight - 200;
    if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
      blockRequest = true;
      page += 1;

      fetch('?s={{ sub }}&courses_only=1&page=' + page)
      .then(response => response.text())
      .then(html => {
        if (html === '') {
          emptyPage = true;
        }
        else {
          var courseList = document.getElementById('course-list');
          courseList.insertAdjacentHTML('beforeend', html);
          blockRequest = false;
        }
      })
    }
  });

  // Launch scroll event
  const scrollEvent = new Event('scroll');
  window.dispatchEvent(scrollEvent);
{% endblock %}