{% extends 'base.html' %}
{%load static %}
{% block title_name %}
EasyLearnZone - Math
{% endblock title_name %}
{% block sbar %}
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'><img src="{% static 'imajes/logo.png' %}" style="width: 27px; height: 27px; filter: invert(100%);"/></i>
        <div class="logo_name">Математика</div>
        <i class='bx bx-menu' id="btn"><img src="{% static 'imajes/3lines.png' %}" style="width: 27px; height: 27px;"/></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class='bx bx-search' style="width: 27px; padding-left: 1px; padding-top: 2px;"><img src="{% static 'imajes/loupe.png' %}" style="width: 27px; height: 27px;"/></i>
          <input type="text" placeholder="Search...">
          <span class="tooltip">Поиск</span>
        </li>
        <li>
          <a href="{% url 'posts' %}">
            <i class='bx bx-user'><img src="{% static 'imajes/home.png' %}" /></i>
            <span class="links_name">На главную страницу</span>
          </a>
          <span class="tooltip">На главную страницу</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user'><img src="{% static 'imajes/book.png' %}" style="filter:invert(180);" /></i>
            <span class="links_name">Решения задач с<br> разборами</span>
          </a>
          <span class="tooltip">Решения задач с разборами</span>
        </li>
        <li>
          <a href="{% url 'math-task' %}">
            <i class='bx bx-user'><img src="{% static 'imajes/taskimg.png' %}" style="filter:invert(180);" /></i>
            <span class="links_name">Банк заданий</span>
          </a>
          <span class="tooltip">Банк заданий</span>
        </li>
      </ul>
{% endblock sbar %}
{% block content %}
    <section class="home">
        <div class="backgroundimgm"></div>
        <ul class="wrapper">
            <h2 style="color: white; font-size: 35px;">Олимпиады</h2>
            {% if request.user.is_authenticated and group %}
                <a href="{% url 'post-create' %}">добавить олимпиаду</a>
            {% endif %}
            {% for post in posts %}
                <li class="block">
                    <div class="background">
                        <p>{{ post.title }}</p>
                        <a href="{{ post.content }}">ссылка</a>
                        <small>Опубликовано: {{ post.published_at | date:"M d, Y" }}
                            {% if request.user.is_authenticated and group %}
                                <a href="{% url 'post-edit' post.id %}">Изменить</a>
                                <a href="{% url 'post-delete' post.id%}">Удалить</a>
                                Автор: {{ post.author }}
                            {% endif %}
                        </small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}