{% extends 'basetask.html' %}
{%load static %}
{% block title_name %}
EasyLearnZone - Math task
{% endblock title_name %}
{% block sbar %}
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'><img src="{% static 'imajes/logo.png' %}" style="width: 27px; height: 27px; filter: invert(100%);"/></i>
        <div class="logo_name">Математика</div>
        <i class='bx bx-menu' id="btn"><img src="{% static 'imajes/3lines.png' %}" style="width: 27px; height: 27px;"/></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class='bx bx-search' style="width: 27px; padding-left: 1px; padding-top: 2px;"><img src="{% static 'imajes/loupe.png' %}" style="width: 27px; height: 27px;"/></i>
          <input type="text" placeholder="Search...">
          <span class="tooltip">Поиск</span>
        </li>
        <li>
          <a href="{% url 'posts' %}">
            <i class='bx bx-user'><img src="{% static 'imajes/home.png' %}" /></i>
            <span class="links_name">На главную страницу</span>
          </a>
          <span class="tooltip">На главную страницу</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user'><img src="{% static 'imajes/book.png' %}" style="filter:invert(180);" /></i>
            <span class="links_name">Авторские курсы</span>
          </a>
          <span class="tooltip">Авторские курсы</span>
        </li>
        <li>
          <a href="{% url 'math' %}">
            <i class='bx bx-user'><img src="{% static 'imajes/taskimg.png' %}" style="filter:invert(180);" /></i>
            <span class="links_name">Список олимпиад</span>
          </a>
          <span class="tooltip">Список олимпиад</span>
        </li>
      </ul>
{% endblock sbar %}
{% block list%}
    <li>
        <details>
            <summary class="legend">7 класс</summary>
            <ul class="details">
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
            </ul>

        </details>
    </li>
    <li>
        <details>
            <summary class="legend">8 класс</summary>
            <ul class="details">
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary class="legend">9 класс</summary>
            <ul class="details">
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary class="legend">10 класс</summary>
            <ul class="details">
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary class="legend">11 класс</summary>
            <ul class="details">
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
                <li><a href="{% url 'task-list' %}" class="href">Раскрывающийся текст</a></li>
            </ul>
        </details>
    </li>
{% endblock list%}