{% extends 'baselog.html' %}
{%block name%}Login{%endblock name%}
{% block form %}
<div class="field">
    <label for="id_username">USERNAME</label>
    <input type="text" name="username" maxlength="65" id="id_username"  required>
    <i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="field">
    <label for="id_username">PASSWORD</label>
    <input type="password" name="password" maxlength="65" id="id_password"  required>
    <i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="pass-link">
  	<a href="#">Забыли пароль?<p>-></p></a>
    <p>-></p>
</div>
<div class="btn">
    <button class="button" type="submit" value="Login"><span>Login</span></button>
</div>
<div class="pass-link">
  	<a href="{% url 'register' %}">Ещё нет аккаунта аккаунта?<p>-></p></a>
</div>
{% endblock form %}