{% extends 'baselog.html' %}
{%block name%}Registration{%endblock name%}
{% block form %}
<div class="field">
	<label for="id_username">USERNAME</label>
	<input type="text" name="username" maxlength="65" id="id_username"  required>
	<i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="field">
	<label for="id_username">EMAIL</label>
	<input type="email" name="email" maxlength="65" id="id_email"  required>
	<i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="field">
	<label for="id_username">PASSWORD</label>
	<input type="password" name="password1" maxlength="65" id="id_password1"  required>
	<i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="field">
	<label for="id_username">CONFIRM PASSWORD</label>
	<input type="password" name="password2" maxlength="65" id="id_password2"  required>
	<i class="fa-solid_fa-login_fa-password"></i>
</div>
	<div class="btn">
		<button class="button" type="submit" value="Login">Register</button>
	</div>
<div class="pass-link">
    <a href="{% url 'login' %}">Have an account?<p>-></p></a>
</div>
{% endblock form %}