{% extends 'baselog.html' %}
{% block title_name %}EasyLearnZone - Registration{% endblock title_name %}
{%block h1%}Registration{%endblock h1%}
{% block form %}
<div class="field">
	<label for="id_username">USERNAME</label>
	<input type="text" name="username" maxlength="65" id="id_username" autocomplete="new-username" autofocus required>
	<i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="field">
	<label for="id_email">EMAIL</label>
	<input type="email" name="email" maxlength="65" id="id_email" autocomplete="new-email" required>
	<i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="field">
	<label for="id_password1">PASSWORD</label>
	<input type="password" name="password1" maxlength="65" id="id_password1" autocomplete="new-password" required>
	<p id="togglePassword1" class="show-password">S</p>
	<i class="fa-solid_fa-login_fa-username"></i>
</div>
<div class="field">
	<label for="id_password2">CONFIRM PASSWORD</label>
	<input type="password" name="password2" maxlength="65" id="id_password2" autocomplete="new-password" required>
	<p id="togglePassword2" class="show-password">S</p>
	<i class="fa-solid_fa-login_fa-password"></i>
</div>
	<div class="btn">
		<button class="button" type="submit" value="Login"><span>Register</span></button>
	</div>
<div class="pass-link">
    <a href="{% url 'login' %}">Уже есть аккаунт?</a>
    <i>></i>
</div>
{% endblock form %}