{%load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styleload.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}" />
    <script src="{% static 'js/preloader_function.js' %}"></script>
    <script src="{% static 'js/juqery-3.7.1.min.js' %}" defer></script>
    <script src="{% static 'js/FormJS.js' %}" defer></script>
    <link rel="website icon" href="{% static 'imajes/logo.png' %}">
    <title>{% block title_name %}{% endblock title_name %}</title>
  </head>
  <body>
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <div class="background"></div>
    <section class="home">
      <div class="preview">
        <h1>{%block h1%}{%endblock h1%}</h1>
      </div>
      <div class="wrapper">
        <div class="form-container">
          <div class="form-inner">

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {%block form%}
              {%endblock form%}
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
