{%load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styleload.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style_task.css' %}" />
        <script src="{% static 'js/preloader_function.js' %}"></script>
        <script src="{% static 'js/app.js' %}" defer></script>
        <link rel="website icon" href="{% static 'imajes/logo.png' %}" />
        <title>{% block title_name %}{% endblock title_name %}</title>
    </head>
    <body>
        <div class="preloader">
            <div class="loader"></div>
        </div>
        <div class="background"></div>
		<div class="sidebar">
	      {%block sbar%}
	      {%endblock sbar%}
	    </div>
        <section class="block_content">
            {% block content%}
                <ul class="list">
                	{% block list%}
                	{% endblock list%}
                </ul>
            {% endblock content%}
        </section>
    </body>
</html>