{%load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styleload.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" />
    <script src="{% static 'js/preloader_function.js' %}"></script>
    <script src="{% static 'js/app1.js' %}" defer></script>
    <link rel="website icon" href="{% static 'imajes/logo.png' %}">
    <title>{% block title_name %}{% endblock %}</title>
  </head>
  <body>
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <div class="sidebar">
      {%block sbar%}
      {%endblock %}
    </div>
    <div class="main-content">
      {%block content%}
      {%endblock %}
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        {% block domready %}
        {% endblock %}
      })
    </script>
  </body>
</html>