{%load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styleload.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <script src="{% static 'js/preloader_function.js' %}"></script>
    <link rel="website icon" href="{% static 'imajes/logo.png' %}">
    <title>{% block title_name %}{% endblock title_name %}</title>
  </head>
  <body>
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <div class="background"></div>
    <section class="home">
      <div class="preview">
        <h1>{%block h1%}{%endblock h1%}</h1>
      </div>
      <div class="wrapper">
        <div class="form-container">
          <div class="form-inner">
            <form method="POST">
              {% csrf_token %}
              {%block form%}
              {%endblock form%}
            </form>
          </div>
        </div>
      </div>

      <main>
      </main>
    </section>
  </body>
</html>