{%load static %}
<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <link rel="stylesheet" href="{% static 'css/styleload.css' %}" />
	    <link rel="stylesheet" href="{% static 'css/style_form.css' %}" />
	    <script src="{% static 'js/preloader_function.js' %}"></script>
	    <script src="{% static 'js/app2.js' %}" defer></script>
	    <link rel="website icon" type="jpg" href="{% static 'imajes/logo.png' %}">
	    <title>{% block title_name %}{% endblock title_name %}</title>
  	</head>
  	<body>
  		<div class="preloader">
            <div class="loader"></div>
        </div>
		<header class="header">
            <ul class="nav">
                <li class="text">
                    <a class="href" href="{% url 'posts' %}">Домой</a>
                </li>
                <li class="text">
                    <a class="href" href="{% url 'about' %}">О нас</a>
                </li>
                <li class="text">
                    <a class="search-wrapper">
				  		<input type="text" placeholder="Search" class="search-input" />
				  		<button type="button" class="search-button">
				    		<i class="ri-search-2-line"><img src="{% static 'imajes/loupe.png' %}" style="width: 20px; height: 20px;"/></i>
				  		</button>
					</a>
                </li>
            </ul>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="alert"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </header>
	    <div class="background">
	    	<div class="bubble-9 bubble-static"></div>
	    </div>
	    <section class="home">
	    	<div class="preview">
	    		<img src="{% static 'imajes/logo.png' %}" style="width: 60px; height: 60px; filter: invert(180);" />
	    		<h1>{%block h1%}{%endblock h1%} to EasyLearnZone</h1>
	    	</div>
	      	<div class="wrapper">
				<div class="form-container">
                    <div class="form-inner">
                        <form method="POST">
                            {% csrf_token %}
							{%block form%}
						    {%endblock form%}
                        </form>
                    </div>
                </div>
		    </div>

			<main>
		    </main>
		</section>
    </body>
</html>