{%load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styleload.css' %}" />
    <script src="{% static 'js/preloader_function.js' %}"></script>
    <link rel="website icon" href="{% static 'imajes/logo.png' %}">
    <title>Not Enough Rights</title>
  </head>
  <body>
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <h1>У вас недостаточно прав для использования данной страницы</h1>
    <h2>{{ group }}</h2>
  </body>
</html>